{:black          {:hex  "#1C1B19"
                  :rgb  [28,  27,  25]
                  :hsl  [40, 6, 10]
                  :name "black"
                  :code 0}
 :red            {:hex  "#EF2F27"
                  :rgb  [239, 47, 39]
                  :hsl  [2, 86, 55]
                  :name "red"
                  :code 1}
 :green          {:hex  "#519F50"
                  :rgb  [81,  159, 80]
                  :hsl  [119, 33, 47]
                  :name "green"
                  :code 2}
 :yellow         {:hex  "#FBB829"
                  :rgb  [251, 184, 41]
                  :hsl  [41, 96, 57]
                  :name "yellow"
                  :code 3}
 :blue           {:hex  "#2C78BF"
                  :rgb  [44, 120, 191]
                  :hsl  [209, 63, 46]
                  :name "blue"
                  :code 4}
 :magenta        {:hex  "#E02C6D"
                  :rgb  [224, 44,  109]
                  :hsl  [338, 74, 53]
                  :name "magenta"
                  :code 5}
 :cyan           {:hex  "#0AAEB3"
                  :rgb  [10, 174, 179]
                  :hsl  [182, 89, 37]
                  :name "cyan"
                  :code 6}
 :white          {:hex  "#918175"
                  :rgb  [145, 129, 117]
                  :hsl  [26, 11, 51]
                  :name "white"
                  :code 7 }
 :bright-black   {:hex  "#2D2C29"
                  :rgb  [45,  44,  41]
                  :hsl  [45, 5, 17]
                  :name "brightblack"
                  :code 8}
 :bright-red     {:hex  "#F75341"
                  :rgb  [247, 83, 65]
                  :hsl  [6, 92, 61]
                  :name "brightblack"
                  :code 9}
 :bright-green   {:hex  "#98BC37"
                  :rgb  [152, 188, 55]
                  :hsl  [76, 55, 48]
                  :name "brightgreen"
                  :code 10}
 :bright-yellow  {:hex  "#FED06E"
                  :rgb  [254, 208, 110]
                  :hsl  [41, 99, 71]
                  :name "brightyellow"
                  :code 11}
 :bright-blue    {:hex  "#68A8E4"
                  :rgb  [104, 168, 228]
                  :hsl  [209, 70, 65]
                  :name "brightblue"
                  :code 12}
 :bright-magenta {:hex  "#FF5C8F"
                  :rgb  [255, 92, 143]
                  :hsl  [341, 100, 68]
                  :name "brightmagenta"
                  :code 13}
 :bright-cyan    {:hex  "#53FDE9"
                  :rgb  [83, 253, 233]
                  :hsl  [173, 98, 66]
                  :name "brightcyan"
                  :code 14}
 :bright-white   {:hex  "#FCE8C3"
                  :rgb  [252, 232, 195]
                  :hsl  [39, 90, 88]
                  :name "brightwhite"
                  :code 15}
 :orange         {:hex  "#D75F00"
                  :rgb  [215, 95, 0]
                  :hsl  [27, 100, 42]
                  :name nil
                  :code 166}
 :bright-orange  {:hex  "#FF8700"
                  :rgb  [255, 135, 0]
                  :hsl  [32, 100, 50]
                  :name nil
                  :code 208}
 :hard-black     {:hex  "#121212"
                  :rgb  [18, 18, 18]
                  :hsl  [0, 0, 7]
                  :name nil
                  :code 233}
 :xgray1         {:hex  "#262626"
                  :rgb  [38, 38, 38]
                  :hsl  [0, 0, 15]
                  :name "gray15"
                  :code 235}
 :xgray2         {:hex  "#303030"
                  :rgb  [48, 48, 48]
                  :hsl  [0, 0, 19]
                  :name "gray19"
                  :code 236}
 :xgray3         {:hex  "#3A3A3A"
                  :rgb  [58, 58, 58]
                  :hsl  [0, 0, 23]
                  :name nil
                  :code 237}
 :xgray4         {:hex  "#444444"
                  :rgb  [68, 68, 68]
                  :hsl  [0, 0, 27]
                  :name nil
                  :code 238}
 :xgray5         {:hex  "#4E4E4E"
                  :rgb  [78, 78, 78]
                  :hsl  [0, 0, 31]
                  :name nil
                  :code 239}}
