:root.TridactylThemeSrcery {
  --srcery-black: #1C1B19;
  --srcery-bright-black: #918175;
  --srcery-red: #EF2F27;
  --srcery-bright-red: #F75341;
  --srcery-green: #519F50;
  --srcery-bright-green: #98BC37;
  --srcery-yellow: #FBB829;
  --srcery-bright-yellow: #FED06E;
  --srcery-blue: #2C78BF;
  --srcery-bright-blue: #68A8E4;
  --srcery-magenta: #E02C6D;
  --srcery-bright-magenta: #FF5C8F;
  --srcery-cyan: #0AAEB3;
  --srcery-bright-cyan: #53FDE9;
  --srcery-white: #D0BFA1;
  --srcery-bright-white: #FCE8C3;
  --srcery-orange: #D75F00;
  --srcery-bright-orange: #FF8700;
  --srcery-hard-black: #121212;
  --srcery-xgray1: #262626;
  --srcery-xgray2: #303030;
  --srcery-xgray3: #3A3A3A;
  --srcery-xgray4: #444444;
  --srcery-xgray5: #4E4E4E;

  --tridactyl-bg: var(--srcery-black);
  --tridactyl-fg: var(--srcery-bright-white);

  /* Hints */
  --tridactyl-hintspan-fg: var(--srcery-bright-white);
  --tridactyl-hintspan-bg: var(--srcery-blue);

  --tridactyl-hint-active-fg: var(--srcery-bright-white);
  --tridactyl-hint-active-bg: rgba(45, 44, 41, 0.2);
  --tridactyl-hint-active-outline: 1px solid var(--srcery-magenta);

  --tridactyl-hint-bg: rgba(45, 44, 41, 0.2);
  --tridactyl-hint-outline: 1px solid var(--srcery-blue);

}

:root.TridactylThemeSrcery #completions .sectionHeader {
  display: none;
}

/* prompt */
:root.TridactylThemeSrcery #tridactyl-colon::before {
  content: "=> ";
}

:root.TridactylThemeSrcery .optionContainer {
  padding-top: 3px !important;
}

:root.TridactylThemeSrcery #completions table tr {
  background: var(--srcery-xgray2) !important;
}

:root.TridactylThemeSrcery #completions table tr:nth-child(odd) {
  background: var(--srcery-xgray1) !important;
}

:root.TridactylThemeSrcery #completions table tr td {
  border-bottom: 1px solid var(--srcery-black) !important;
}

:root.TridactylThemeSrcery #completions table tr:nth-child(odd).focused {
  background: var(--srcery-bright-white) !important;
}

:root.TridactylThemeSrcery #completions .focused,
:root.TridactylThemeSrcery #completions .focused .url {
  background: var(--srcery-bright-white) !important;
  color: var(--srcery-black) !important;
}

:root.TridactylThemeSrcery #completions .url {
  background: inherit !important;
}

:root.TridactylThemeSrcery #completions .url {
  color: var(--srcery-green) !important;
}

/* set position of cmdline */
:root.TridactylThemeSrcery #cmdline_iframe {
  position: fixed !important;
  bottom: unset;
  top: -3px !important;
  left: 0% !important;
}
